<h1>You sent the following data in a GET request:</h1>
<ul>
  {{#each dataList}}
    <li>{{this.name}}: {{this.value}}
  {{/each}}
</ul>

<p>Get works like in the example, however post continues to register as a 404 page.</p>
<p>I tried it in the advanced rest client and it made the base post html but no data was outputed.</p>
