<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="style.css">
<title>Steam API Intro</title>
</head>
<body>
<header>
<a href="index.html">Home</a>
<a href="apiKey.html">API Key</a>
<a href="GetNews.html">App News</a>
<a href="AchievePP.html">Player Achievements</a>
<a href="AchieveP.html">Global Achievement %</a>
<a href="friends.html">Friends List</a> </header>
<h1>How to use Steam's API</h1>
<br>
<div>
<h2>Guide Basics</h2>
<p>Welcome to the How-To guide for Steams Web API</p>
<p>The Steam web API can be used to access data about steam users and games. It is done through either JSON or XML objects returned from different queries.</p>
<p>This guide will give examples of the different queries that are avalible to use on the steam API and show you why they are important.</p>
</div>
<div>
<p>This how to guide will cover the following JSON calls:</p>
<ol>
<li>GetNewsForApp</li>
<li>GetGlobalAchievementPercentageForApp</li>
<li>GetPlayerSummaries</li>
<li>GetUserStatsForGame</li>
<li>GetFriendList</li>
</ol>
<h2><a href="apiKey.html">Start Here!</a></h2>
</div>
<footer>
<nav>
<a href="index.html">Home</a>
<a href="apiKey.html">API Key</a>
<a href="GetNews.html">App News</a>
<a href="AchievePP.html">Player Achievements</a>
<a href="AchieveP.html">Global Achievement %</a>
<a href="friends.html">Friends List</a>
</nav>
</footer>
</body>
</html>
